.dash {
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .inputs {
    width: 30vw;
    height: auto;
    margin: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 255, 170);
    border-radius: 5px;

    h2 {
      margin-bottom: 16px;
    }
  }
}
